body {
  position: relative;
  width: 100%;
  height: 900px;
  background: #0B0D17;
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.navigation_bar_div {
  height: 10%;
  width: 50%;
  background-color: grey;
  /* opacity: 0.5; */ /* This doesn't work. This will make everything INSIDE the div ALSO transparent. */
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  right: 0;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home_nav {
  margin: auto;
}

.home_hr {
  margin: 0;
  width: 0;
}

.home_nav:hover hr {
  width: 100%;
}

.destination_nav {
  margin: auto;
}

.destination_hr {
  margin: 0;
  width: 0;
}

.destination_nav:hover hr {
  width: 100%;
}

.crew_nav {
  margin: auto;
}

.technology_nav {
  margin: auto;
}
