body {
  position: relative;
  width: 1440px;
  height: 900px;
  background: #0B0D17;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
